@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 10px;
}

@media (min-width: 768px) {
  html {
    font-size: 13;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 13.5px;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 16px;
  }
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1.5px white;
  }
  .font-outline-0 {
    -webkit-text-stroke: 0px white;
  }
  .font-outline-4 {
    -webkit-text-stroke: 7px white;
  }

  .font-outline-dark-2 {
    -webkit-text-stroke: 1.5px black;
  }
  .font-outline-dark-0 {
    -webkit-text-stroke: 0px #fff7f0;
  }
  .font-outline-dark-4 {
    -webkit-text-stroke: 10px #fff7f0;
  }
}
@font-face {
  font-family: George;
  src: url("../public/assets/fonts/louis_george_caf/Louis\ George\ Cafe.ttf");
}

@font-face {
  font-family: Maglony;
  src: url("../public/assets/fonts/maglony/Maglonyfreeversion-Regular.ttf");
}

@font-face {
  font-family: Sunflower;
  src: url("../public/assets/fonts/made_sunflower/MADE\ Sunflower\ PERSONAL\ USE.otf");
}
